@font-face
{
font-family: myFont;
src: url('../font/avangeli.ttf')
}

body {
	margin: 0;
	background-color: #FFFFFF;
	transition: background-color 0.4s ease;
	font-family: myFont;
	overflow: hidden;
}

img {
	margin:0;
}

#logoDiv {
	width:340px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	color: black;
}


#inputDiv {
	width:300px;
	margin-left:auto;
	margin-right: auto;
	/*display: inline-block;*/
}

#inputColor {
	width:300px;
	margin-left:auto;
	margin-right: auto;
	/*display: inline-block;*/
}

#menuInfo {
	width:300px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right: auto;
	/*display: inline-block;*/
}

#inputSize {
	width:300px;
	margin-top: 19px;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right: auto;
	/*display: inline-block;*/
}

.showW {
	float: right;	
	display: inline-block;
}

.showH {
	float: right;
	display: inline-block;

}

.textpixel {
	float: left;
	display: inline-block;
}

.pixWidth, .pixHeight {
	float: center;
	width: 168px;
	margin-left: 10px;
}

#inputNumber {
	width:300px;
	margin-left:auto;
	margin-right: auto;
	/*display: inline-block;*/
}
.randomCol, .randomGrad {
	width: 140px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}

#goButton {
	width: 300px;
	margin-bottom: 10px;
}

#main {	
	width: auto;
	margin-left: auto !important;
	margin-right: auto;
	margin-top: 10px;
	color: black;
	display: table;
}

.logo {
	width: 340px;
	background-color: rgba(255,255,255,0.3) !important;
	margin-left: auto !important;
	/*height: 514px;*/
	margin-right: auto !important;
	margin-top: 10px !important;
	color: #000000;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	border: 0px solid gray;
	box-shadow: 4px 4px 4px rgba(60,60,60,0.3);

	   -webkit-animation: fadein 0.5s; /* Safari and Chrome */
       -moz-animation: fadein 0.3s; /* Firefox */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera */
            animation: fadein 0.3s;
}

.container {

	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 10px;
	color: black;
	/*height: auto;*/
}

.colors {
	width: 340px !important;
	/*height: 200px;*/
	/*height: 75px;*/
	margin-bottom: 10px;
	margin-left: auto !important;
	margin-right: auto !important;
	background-color: rgba(255,255,255,0.3) !important;
	color: #000000;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	border: 0px solid gray;
	box-shadow: 3px 4px 4px rgba(60,60,60,0.4);

		   -webkit-animation: fadein 0.5s; /* Safari and Chrome */
       -moz-animation: fadein 0.3s; /* Firefox */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera */
            animation: fadein 0.3s;

}

.restart {
	width: 95px;
}

.saveImage {
	width: 95px;
}

.hideButton {
	width: 95px;
}

.twotwo {
	width: 340px;
	/*height: 200px !important;*/
	margin-right: 20px;
	width: 340px;
	color: #000000;
	background-color: transparent;
}

.pixels {
	/*height: 10%;*/
	width: 340px;
	height: 75px;
	background-color: rgba(255,255,255,0.3) !important;
	color: #000000;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	border: 0px solid gray;
	box-shadow: 3px 4px 4px rgba(60,60,60,0.3);

	   -webkit-animation: fadein 0.5s; /* Safari and Chrome */
       -moz-animation: fadein 0.3s; /* Firefox */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera */
            animation: fadein 0.3s;
}

.numbers {
	/*height: 180px;*/
	width: 340px;
	height: 75px;
	background-color: rgba(255,255,255,0.3) !important;
	color: #000000;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	border: 0px solid gray;
	box-shadow: 3px 4px 4px rgba(60,60,60,0.3);


	   -webkit-animation: fadein 0.5s; /* Safari and Chrome */
       -moz-animation: fadein 0.3s; /* Firefox */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
         -o-animation: fadein 0.3s; /* Opera */
            animation: fadein 0.3s;
}

.myNum {
	/*height: 180px;*/
	margin-top: 2px;
	width: 340px;
	background-color: rgba(255,255,255,0.3) !important;
	color: #000000;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	border: 0px solid gray;
	margin-top: 10px;
	box-shadow: 3px 4px 4px rgba(60,60,60,0.3);

    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

.menubar {
	position: fixed;
	width: 340px !important;
	/*height: 150px;*/
	margin-right: auto !important; 
	margin-left: 10px !important;
	border-radius: 4px;
	margin-top: 10px;
	font-size: small;
	color: black;
	padding: 10px 10px 10px 10px;
	background-color: rgba(255,255,255,0.7);
	box-shadow: 3px 4px 4px rgba(60,60,60,0.3);
	z-index: 99;
}

.hidden {
	visibility: hidden;
}

#colorCanvas {
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	z-index: 1;
}

#reloadDiv {
	position: fixed;
	background-color: transparent;
	width: auto;
	display: table;
	margin-right: auto !important; 
	margin-left: auto !important;
	z-index: 99;
	margin-bottom: 10px;
}

.smallBox {
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid black;	
	border-radius: 2px;
}

.color-box {
	float:left;
	width:18px;
	height:18px;
	margin:5px;
	border: 1px solid #b0b0b0;
	background-color: white;
	transition: background-color 0.4s ease;
	border-radius: 2px;
}

.color1 {
	background-color: #FFFFFF;
}
.color2 {
	background-color: #FFFFFF;
}
.color3 {
	background-color: #FFFFFF;
}
.color4 {
	background-color: #FFFFFF;
}
.color5 {
	background-color: #FFFFFF;
}
.color6 {
	background-color: #FFFFFF;
}
.color7 {
	background-color: #FFFFFF;
}
.color8 {
	background-color: #FFFFFF;
}
.color9 {
	background-color: #FFFFFF;
}
.color0 {
	background-color: #FFFFFF;
}

.inputNum {
	max-width: 295px;
	min-width: 295px;
	width: 295px;
	color: gray;
	margin-top: 5px;
}

.inputNumtwo {
	max-width: 330px;
	height: 10px;
	color: gray;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    transition: background-color 0.4s ease;
    width: 168px;
    height:3px;
    outline:none;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    opacity: 0.7;
    height: 10px;
    width: 5px;
    margin-bottom: 5px
}

.btn {
	-moz-box-shadow:inset 0px 0px 0px 1px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 1px #ffffff;
	box-shadow:inset 0px 0px 0px 1px #ffffff;
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border-radius: 5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:myFont;
	outline:none;
	/*font-style:normal;
	text-decoration:none;
	text-align:center;*/
	text-shadow:1px 1px 0px #ffffff;

}.btn:hover {
	background-color:transparent;
	color: #ffffff;
	text-shadow:1px 1px 0px #b0b0b0;

}.btn:active {
	position:relative;
	background-color: transparent;
	opacity: 0.5;
	top:1px;
}
.btn4row {
	/*height:30px;*/
	width:80px;
	/*font-size:12px;*/
}
.btn2row {
	width: 140px;
	/*height: 30px;*/
	/*font-size:15px;*/
}
.btn3row {
	width:40px;
	/*font-size:12px;*/
	/*height: 30px;*/
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

$spinner-color: red !default;
$spinner-background-color: #eee !default;
$spinner-stroke: 2px !default;
$spinner-diameter: 40px !default;
$spinner-sides: 1 !default;

@mixin spinner(
  $color: $spinner-color,
  $background-color: $spinner-background-color,
  $stroke: $spinner-stroke,
  $diameter: $spinner-diameter,
  $sides: $spinner-sides
) {
  border: $stroke solid $background-color;
  font-size: $diameter;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  @include box-sizing(border-box);
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top-color: $color;
  @if $sides >= 2 {
    border-right-color: $color;
  }
  @if $sides >= 3 {
    border-bottom-color: $color;
  }
}

.spinner {
  @include spinner();
}

@-webkit-keyframes spin {
  to {
    @include transform(rotate(360deg));
  }
}

@-moz-keyframes spin {
  to {
    @include transform(rotate(360deg));
  }
}

@keyframes spin {
  to {
    @include transform(rotate(360deg));
  }
}
